---
layout: simple
title: Affiliate program
description: SaaS affiliate program. You know how much better your sales are with
  CrankWheel screen sharing. Spread the word and earn a passive income.
hero_image: "/static/images/hero-ill.png"
fist_image: "/static/images/icon-comission.png"
second_image: "/static/images/icon-bonus.png"
third_image: "/static/images/icon-90.png"
keywords: Screen Sharing, Instant Demos, Phone Conferencing, Inside Sales, Telesales,
  Software Presentations

---
{% capture hero_title %}
<h1><strong>Affiliate program</strong></h1>
{% endcapture %}

{% capture hero_description %}
<br/>
<ul>
<li>
{% include checkmark %}
<span class="small">You know how much better your sales are with CrankWheel screen sharing</span>
</li>
<li>
{% include checkmark %}
<span class="small">Spread the word and earn a passive income</span>
</li>
<li>
{% include checkmark %}
<span class="small">Up to $120 bonus for each paid subscription and a 15% recurring commission</span>
</li>
</ul>
{% endcapture %}

{% include two-column-highlight.html title=hero_title highlight_description=hero_description image=page.hero_image %}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 section">

            <h2>SaaS affiliate program</h2>

            <p>
                If you are a salesperson, you know that it can be hard to paint a picture through the telephone without any visuals. Traveling salespeople have the benefit of showing visuals but they spend too much time on the road when they could be closing.
            </p>

            <p>
                CrankWheel is a browser-based SaaS screen-sharing software. CrankWheel enables users to share visuals during sales calls or customer support calls. Sessions open up with one click and can be viewed on any browser, any device.
            </p>

            <p>
                Collaboration platforms like Zoom or Teams create too many friction points along the way to share material with prospects. With CrankWheel, you can help salespeople share their screen in an instant to any device and any browser. There is no registration required or setup required for the viewer.
            </p>
        </div>
    </div>
</div>

<div class="light-grey-bcg section">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">
            <h4><strong>What we offer</strong></h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                    <div class="col s12 m4">
                    <img src="{{page.fist_image}}" alt="15% commission icon" class="img img--available">
                    <h6><strong>15% commission</strong></h6>
                    <p>
                    You will receive a recurring 15% commission for each paid subscription you refer to us during the lifetime of that subscription, every time the subscription is paid.
                    </p>
                    </div>
                    <div class="col s12 m4">
                    <img src="{{page.second_image}}" alt="$120 Signup bonus" class="img img--available">
                    <h6><strong>$120 Signup bonus</strong></h6>
                    <p>
                    You can earn up to $120 for each subscriber, depending on the plan they sign up for.
                    </p>
                    </div>
                    <div class="col s12 m4">
                    <img src="{{page.third_image}}" alt="90-day cookie" class="img img--available">
                    <h6><strong>90-day cookie</strong></h6>
                    <p>
                    If your referral today leads to a signup up to 90 days later, you will still receive a commission.                    </p>
                    </div>
                </div>

                <div class="buttonblock">
                    <a href="https://crankwheel.partnerstack.com/" class="btn-large primary">JOIN NOW</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">

            <h5><strong>This is how you do it:</strong></h5>

            {% capture block_content %}
            <h4>Sign up for CrankWheel’s affiliate program</h4>
            <p>You can join the CrankWheel affiliate program today. You don’t need to be a paying customer. To learn how CrankWheel works, you can create a free account.</p>
            <p>To be successful, we recommend that you:</p>
            <ol>
                <li>Understand how important screen sharing can be for salespeople.</li>
                <li>Have an audience, or are ready to build an audience, that needs an easy screen sharing solution to become more successful at their jobs.</li>
            </ol>
            {% endcapture %}
            {% include numbered_block.html class="mt-5" content=block_content number="1" %}

            {% capture block_content %}
            <h4>Create content and share it with your audience</h4>
            <p>To be able to sign up users, you will need to get your affiliate link out there. Once the signups convert to paying users, you will start to earn your commissions as long as the accounts are active in our paid plans.</p>
            <p>When CrankWheel users see that the more they use CrankWheel, the more they sell, they are likely to upgrade their accounts. Which means that your commission is likely to rise.</p>
            <p>To make your job easier, you will be provided with:</p>
            <ul>
                <li>Walkthroughs for regular users</li>
                <li>Walkthroughs for admins</li>
                <li>Brand graphics and company brief</li>
                <li>Link generation tool. You can easily create custom links to any of our content.</li>
            </ul>
            {% endcapture %}
            {% include numbered_block.html class="mt-5" content=block_content number="2" %}

            {% capture block_content %}
            <h4>Earn your commission</h4>
            <p>Once a signup converts to a paying customer, you can earn up to $120 as a sign-on bonus. But there is more. Each time the customer pays for their recurring subscription, you will receive a 15% commission.</p>
            {% endcapture %}
            {% include numbered_block.html class="mx-5" content=block_content number="3" %}

            <p><strong>Start making remote customer engagement more effective and more efficient</strong></p>
            <div class="buttonblock">
                <a href="https://crankwheel.partnerstack.com/" class="btn-large primary">JOIN NOW</a>
            </div>

            </div>
        </div>
    </div>
</div>

<div class="light-grey-bcg section use-cases">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">

                <h5><strong>Popular sales use cases for CrankWheel:</strong></h5>

                <div class="row">
                    <div class="col s12 m4">
                    <img src="/static/images/ill-insurance.png" class="w-80" alt="insurance icon">
                    <h6><strong>Insurance</strong></h6>
                    </div>
                    <div class="col s12 m4">
                    <img src="/static/images/ill-solar.png" alt="solar icon">
                    <h6><strong>Solar sales</strong></h6>
                    </div>
                    <div class="col s12 m4">
                    <img src="/static/images/ill-financial.png" alt="financial icon">
                    <h6><strong>Financial services</strong></h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                    <img src="/static/images/ill-digital-agency.png" alt="digital sales icon">
                    <h6><strong>Digital Agency sales</strong></h6>
                    </div>
                    <div class="col s12 m4">
                    <img src="/static/images/ill-energy.png" alt="energy icon">
                    <h6><strong>Energy sales</strong></h6>
                    </div>
                    <div class="col s12 m4">
                    <img src="/static/images/ill-mortgage.png" alt=mortgage icon"">
                    <h6><strong>Mortgage</strong></h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section accordion">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2">

                <h5 class="mb-3"><strong>Most frequently asked questions about the affiliate program</strong></h5>

                <div class="header">
                    <h6 class="left"><strong>How much can I earn?</strong></h6>
                    <div class="icons">
                        <i class="true"> {% include minus %} </i>
                        <i class="false"> {% include plus %} </i>
                    </div>
                </div>

                <p>You can get up to $120 one-time payment per new paid subscription and a 15% commission on subscription fees. Other than that, the sky's the limit, depending on how successful you are in sending new subscribers our way.</p>

                <hr class="mx-2">

                <div class="header hidden">
                    <h6 class="left"><strong>Can I run the affiliate program through online ads?</strong></h6>
                    <div class="icons">
                        <i class="true"> {% include minus %} </i>
                        <i class="false"> {% include plus %} </i>
                    </div>
                </div>

                <p>Yes, you can but you can not compete directly with our own campaigns. Further details can be found in our
                <a href="https://crankwheel.com/affiliate-partner-guidelines/">affiliate partner guidelines</a>.
                </p>

                <hr class="mx-2">

                <div class="header hidden">
                    <h6 class="left"><strong>Do you offer pay-per-click commissions?</strong></h6>
                    <div class="icons">
                        <i class="true"> {% include minus %} </i>
                        <i class="false"> {% include plus %} </i>
                    </div>
                </div>

                <p>No. We only pay commissions and bonuses for paid subscriptions.</p>

                <hr class="mx-2">

                <div class="header hidden">
                    <h6 class="left"><strong>How much does it cost to become an affiliate?</strong></h6>
                    <div class="icons">
                        <i class="true"> {% include minus %} </i>
                        <i class="false"> {% include plus %} </i>
                    </div>
                </div>

                <p>We do not charge anything for the affiliate program.</p>

                <hr class="mx-2">

                <div class="buttonblock">
                    <a href="https://crankwheel.partnerstack.com/" class="btn-large primary">JOIN NOW</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function(){
    var accordions = document.getElementsByClassName('accordion');
    for(var i = 0;i < accordions.length;i++){
        var headers = accordions[i].getElementsByClassName('header');
        for(var j = 0;j < headers.length;j++){
            var icons = headers[j].getElementsByClassName('icons')[0];
            var handler = function(e){
                if( this.classList.contains('hidden') ){
                    this.classList.remove('hidden');
                    return;
                }
                this.classList.add('hidden');
            }
            icons.addEventListener('click', handler.bind(headers[j]));
        }
    }
})()
</script>