<div class="row">
    <div class="col {{include.column_class | default: 's12 m6' }}">
        <div data-component="medium-box" class="text-center">
            <h6><strong>USE CASES</strong></h6>
            <a href="https://crankwheel.com/industries/screen-sharing-for-digital-agency-sales/" data-component="triangle-link" class="py-1">Digital Marketing Services</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-education/" data-component="triangle-link" class="py-1">Education</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-solar-agents/" data-component="triangle-link" class="py-1">Solar Agents</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-insurance/" data-component="triangle-link" class="py-1">Insurance Sales</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-mortgage-advisors/" data-component="triangle-link" class="py-1">Mortgage Advisors</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-sales/" data-component="triangle-link" class="py-1">Sales</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-financial-services/" data-component="triangle-link" class="py-1">Financial Services</a>
            <a href="https://crankwheel.com/industries/screen-sharing-for-retail-energy/" data-component="triangle-link" class="py-1">Retail Energy</a>
        </div>
    </div>
    <div class="col {{include.column_class | default: 's12 m6' }}">
        <div data-component="medium-box" class="text-center">
            <h6><strong>FEATURES</strong></h6>
            <a href="https://crankwheel.com/screen-sharing/" data-component="triangle-link" class="py-1">Screen sharing</a>
            <a href="https://crankwheel.com/remote-control/" data-component="triangle-link" class="py-1">Remote Control</a>
            <a href="https://crankwheel.com/instant-demos/" data-component="triangle-link" class="py-1">Instant Lead Capture</a>
            <a href="https://crankwheel.com/api/" data-component="triangle-link" class="py-1">Embed & Integrate</a>
            <p class="my-0 py-1"><strong>Project videos (This page)</strong></p>
            <p class="my-0 py-1"><strong>(Post-session landing page)</strong></p>
            <p class="my-0 py-1"><strong>(Monitor engagement)</strong></p>
            <p class="my-0 py-1"><strong>(Custom branding)</strong></p>
        </div>
    </div>
</div>