---
layout: case-study
title: 'Salesgenie: Connecting faster to inbound leads'
description: Salesgenie uses CrankWheel to capture hot inbound leads, that come through
  their website and start a screen sharing session. They are able to handle 98% of
  inbound within the first minute. CrankWheel is used to increase customer spending,
  troubleshoot, solve problems and improve retention rates.
top_menu: true
keywords: Screen Sharing, Instant Demos, Phone Conferencing, Inside Sales, Telesales,
  Software Presentations
hero:
- template: background-hero
  layout: case-study
  name: salesgenie
  dim: false
  company: Salesgenie
  title: How Salesgenie uses CrankWheel to hit revenue goals
  summary: |-
    Salesgenie provides B2B companies with a proven way to find, acquire, and retain customers. Salesgenie is a division of Infogroup, a provider of data and data-driven products for sales and marketing teams since 1972, with over 2,000 employees.

    Over 25,000 companies and consultants trust Salesgenie to provide sales prospecting, data, and marketing solutions. Salesgenie services, and the databases that can be plugged in, play a key role in the growth and marketing strategies of the clients they work with.
  image: "/static/images/salesgenie-bg.jpg"
  css: |
    .highlight{
      background-size: 100% auto;
      background-position: center center;
      height: 500px;
      background-color: #333;
    } @media (max-width:1000px) {
      .highlight{
          background-size: auto 100%;
          background-position: center center;
      }
    } @media (max-width:600px) {
      .highlight{
          height: auto;
          min-height: 500px;
      }
    } @media (max-width:400px) {
      .highlight{
          background-size: auto 100%;
          background-position: 35% center;
      }
      .quote-bg::before{
          top:165px;
          left:-18px;
      }
    }
thumbnail: "/uploads/2023/01/13/salesgenie-logo.png"
menu_label: Connecting faster to inbound leads
order: 7

---
<style>
      @media (max-width:590px) {
        .quote-bg::before{
            top:140px;
        }
      }
    </style>

    <section class="section-bg" data-section="01">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">Why does Salesgenie need CrankWheel?</h3>
                    <p>
                        CrankWheel is used in different ways across these teams. Sales agents, including account executives, make extensive use of the Instant Demos feature. Whereas, Onboarding and Customer Support agents are more likely to use the Screen Sharing feature. We are going to look at each of those separately, to see how Salesgenie and Infogroup teams make the most of CrankWheel, using it to hit revenue goals and support customers.
                    </p>
                    <p>
                        Salesgenie and Infogroup have been CrankWheel customers since 2016. Overall, Salesgenie has around 50 team members using CrankWheel. Most of these are sales agents, account executives, alongside onboarding specialists and customer service reps.
                    </p>
                    <p>
                        Across Infogroup, a further 50 use the product, including managers who are overseeing how and when it’s used within teams (around 100 users in total). Managers need team-wide oversight, and CrankWheel gives them that, to ensure call targets and other KPIs are being met on a weekly and monthly basis.
                    </p>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Try CrankWheel in your own organization</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="02">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">CrankWheel Instant Demos in use at Salesgenie</h3>
                    <p>
                        When inbound leads come through online, the Instant Demo feature is used to demonstrate a product, service or the Salesgenie SaaS platform. Instead of an agent explaining what they’re selling, when the prospect requests a call, they do so via the Instant Demos lead capture widget, which finds an agent to callback immediately, and lets the agent screen share seamlessly with the prospect.
                    </p>
                    <p>
                        When it comes to qualifying and converting leads, speed is everything. Especially when those leads are inbound.
                    </p>
                    <p>
                        <a href="https://crankwheel.com/how-to-massively-increase-the-chance-of-qualifying-sales-leads/">Harvard Business Review (HBR)</a> studied 1.25 million inbound sales leads received by 29 B2C and 13 B2B companies. HBR found that <b>those who called a lead within an hour were “seven times as likely to qualify the lead</b> as those that tried to contact the customer even an hour later—and more than 60 times as likely as companies that waited 24 hours or longer.”
                    </p>
                    <p>
                        Engaging with a prospect quickly is the best way to ensure they enter the sales pipeline. <b>If an agent does this within the first 5 minutes of an inbound query, the lead is 21x more likely to enter the sales pipeline,</b> <a href="https://crankwheel.com/how-to-massively-increase-the-chance-of-qualifying-sales-leads/">according to a Lead Response Management Study</a>.
                    </p>
                    <p>
                        Salesgenie and Infogroup sales teams take this commitment to fast qualifications and conversions seriously. Based on the use of the Instant Demos feature, approximately 98% of inbound requests were handled within the first minute; with 6 seconds the average time until the lead is told a particular agent is about to call them. Of those that were handled, around 25% transition into calls that involve a demo taking place, and therefore are even more likely to convert. These figures are based on one year’s worth of CrankWheel Instant Demo data.
                    </p>
                    <p>
                        No other service is offering this combined ease-of-use - for agents and prospects/customers - and rapid response time. Giving prospects the option to engage with an Instant Demo greatly improves conversion rates, which is why Salesgenie and Infogroup sales teams consistently benefit from using CrankWheel.
                    </p>
                    <div class="bottomframe">
                        {% capture image_src %}{{site.baseurl | append: '/static/images/simple/img6.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image_src style="transform:translateX(0.8em);" background_left=1 %}
                        {% capture image2_src %}{{site.baseurl | append: '/static/images/simple/img8.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image2_src style="align-self:end;align-self:flex-end;transform:translateX(-0.8em);" background_right=1 %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="03">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">Screen Sharing using CrankWheel at Salesgenie</h3>
                    <p>
                        When it comes to onboarding, CrankWheel is the most effective way to get customers to experience new products and services. For that, the Screen Sharing feature is the most effective and commonly used solution.
                    </p>
                    <p>
                        Complex questions can be handled more quickly when an agent can walk a customer through using a product that is unfamiliar to them. Not only does this clear problems up more quickly, but it ensures the customer experience improves retention rates, up-sell opportunities, and reduces churn.
                    </p>
                    <p>
                        Account executives and customer service agents also use CrankWheel, alongside team managers who keep an eye on activity levels, statistics and KPIs. In both cases, CrankWheel is used to increase customer spend, troubleshoot, solve problems, and improve retention rates.
                    </p>
                    <p>
                        Simplicity and ease-of-use, for agents at Salesgenie and Infogroup, is one of the main pieces of feedback from those using it every day. As one onboarding specialist put it: “The nimble nature and non-intrusive manner in which CrankWheel allows for the quick glance in session is fantastic.”
                    </p>
                    <p>
                        “CrankWheel is perfect for the vast majority of our sessions; we get many comments about how pleasant of an experience enabling the glance in session is from our clients, which is to say they have had very difficult and unpleasant experiences in the past with the alternative remote-conferencing applications”, said Jake Albanez, a Client Onboarding Specialist, in an interview.
                    </p>
                    <p>
                        Because this is so easy to use, agents and reps are confident recommending it, whether they’re doing onboarding, troubleshooting, or a sales call that involves an instant demo. CrankWheel is a normal part of the working day for around 100 agents and managers within Infogroup.
                    </p>
                    <div class="bottomframe">
                        {% capture image3_src %}{{site.baseurl | append: '/static/images/simple/img11.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image3_src style="align-self:end;transform:translateX(-0.8em);" background_left=2 background_right=2 %}
                    </div>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Try all CrankWheel features for free</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="04">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">Customer testimonial: Salesgenie</h3>
                    <div class="testimonial-block">
                        <div class="quote-bg">
                            <p>
                                “At Salesgenie, and across Infogroup sales and customer service teams, we have been using CrankWheel since 2016. One of the main pieces of feedback we hear is that CrankWheel is really easy to use, and what a great tool to get customers on board to show them what’s going on with their program and explaining everything clearly.
                            </p>
                            <p>
                                As a screen-sharing and instant demo solution, CrankWheel is an intuitive product, and the support from CrankWheel is second to none. It allows for a quick, nimble and non-intrusive means of enabling a glance-in session with potential clients to demonstrate our platform's functions remotely. We are delighted with the product, ongoing support and service, and would highly recommend CrankWheel for sales and customer service functions.”
                            </p>
                        </div>
                        <div class="client-card">
                            <div class="client-image">
                                <img src="{{site.baseurl | append: '/static/images/david-fichna.jpg' | replace: '//', '/' | replace: ':/', '://'}}" alt="client-image"/>
                            </div>
                            <div class="client-info">
                                <h3 class="tillium-web">David Fichna<h3>
                                <p>Operations Manager</p>
                                <p>Salesgenie, an Infogroup company.</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Trial CrankWheel’s professional features</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>