---
layout: case-study
title: 'Yell: Close deals quicker and retain more'
description: At Yell, agents have a quick and effective way to sell digital marketing
  solutions with CrankWheel. As well as helping agents sell faster, CrankWheel is
  also used when onboarding customers, answering their questions and solving their
  problems.
top_menu: true
keywords: Screen Sharing, Instant Demos, Phone Conferencing, Inside Sales, Telesales,
  Software Presentations
hero:
- template: background-hero
  layout: case-study
  name: yell
  dim: false
  company: Yell
  title: See how Yell increased telesales conversions and improved customer service,
    with CrankWheel
  summary: |-
    Yell Ltd is the UK division of Hibu Group, a leading global provider of digital marketing solutions to local businesses across the US, Canada, UK, and other regions around the world.

    Hibu Group employs over 12,000 people globally, providing a range of multi-channel digital marketing solutions. Since 2016, Yell has been using CrankWheel on a daily basis with their sales and customer service agents in their customer calls.
  image: "/static/images/bg-yell.jpg"
  css: |
    .highlight{
        background-color:#1e1c1d;
    } @media (min-width: 1160px) {
      .highlight{
          background-position: 60% 100%;
          background-size: 120%;
          height: 585px;
      }
    } @media (min-width: 901px) and (max-width: 1159px) {
      .highlight{
          height: 460px;
          background-size: 125% auto;
          background-position: 40% 0%;
      }
    } @media (min-width: 451px) and (max-width: 900px){
      .highlight{
          background-position-x: 87%;
          background-size: auto 135%;
      }
    } @media (max-width: 450px){
      .highlight{
          background-position-x: 87%;
          background-size: auto 100%;
      }
    }
thumbnail: "/uploads/2023/01/13/yell_logo_2016.png"
order: 6
menu_label: Close deals quicker and retain more

---
<section class="section-bg" data-section="01">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">Yell: Why they need CrankWheel?</h3>
                    <p>
                        Yell is No.1 for managed digital marketing services for all types of local businesses in the UK and started life as the Yellow Pages in 1966 – their goal is simple to connect consumers and businesses online. Yell.com has over 3 million businesses online and Yell.com is used by millions of consumers every month searching for their local businesses.
                    </p>
                    <p>
                        Across the sales and customer service teams, CrankWheel is used in two different ways. CrankWheel makes screen-sharing possible at Yell, giving telesales agents a quick and effective way to share their screen, engage with hard-to-reach customers, and sell digital marketing solutions.
                    </p>
                    <p>
                        CrankWheel is also used in a customer success scenario, when an agent is showing a customer how to use their digital marketing solutions, or if the customer has a problem, how to fix it. The agent can display to customers far more easily online using the CrankWheel Remote Control feature how to resolve any problems they may have.
                    </p>
                    <div class="centerframe">
                        {% capture image3_src %}{{site.baseurl | append: '/static/images/CW-case-study-Yell.jpg' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include cloud-frame.html image=image3_src style="align-self:end;transform: translateX(0);" background_left=2 background_right=2 %}
                    </div>
                    <p>
                        Our Remote Control feature is useful for increasing and improving engagement with the Yell  platform and features. Instead of customers struggling to navigate Yell products, an agent can work online with them, to showcase various features and giving them the chance to work with them with real-time assistance. Retention rates have increased as a result of Remote Control being put into use.
                    </p>
                    <p>
                        Both solutions are valuable and demonstrate the operational use of CrankWheel across large teams. In a sales scenario, agents use CrankWheel to close deals faster, increase conversion rates and hit targets. Whereas, customer success agents use it for on-boarding, retention, complaints handling, fixing problems, and achieving monthly KPIs.
                    </p>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Experience our solution</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="02">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">How and who uses CrankWheel at Yell?</h3>
                    <p>
                        Among UK SMBs, Yell already has strong brand recognition and heritage, compared to other digital marketing solutions providers. However, like other digital marketing services, Yell is competing against a wider range of digital marketing and advertising providers (such as Facebook and Google), all hungry for the same market.
                    </p>
                    <p>
                        Another challenge is that telesales agents were constantly trying to get sales leads onto a second call to close deals. Potential customers, naturally, wanted to see what they could be buying before saying yes. Before CrankWheel, that wasn’t possible. Agents would have to send proposals or mock-ups of websites and advertising campaigns, making it weeks or months between calls. Deals took longer to close, impacting when sales teams hit targets.
                    </p>
                    <p>
                        After CrankWheel was introduced, the sales cycle reduced: making it easier for agents to close deals faster. As agents got used to using it in their service calls, many went from two or more calls to win new customers, to resolving the query within one call.
                    </p>
                    <div class="bottomframe">
                        {% capture image_src %}{{site.baseurl | append: '/static/images/simple/img6.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image_src style="transform:translateX(0.8em);" background_left=1 %}
                        {% capture image2_src %}{{site.baseurl | append: '/static/images/simple/img8.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image2_src style="align-self:end;align-self:flex-end;transform:translateX(-0.8em);" background_right=1 %}
                    </div>
                    <p>
                        Telesales agents can, with automatically generated draft websites and advertising campaigns, instantly demo a solution to a potential customer. Imagine if you’ve always wanted a website, but not had the time or funds: then you spend 30 minutes looking at and tweaking one that could go live for a small fee; why wouldn’t you say yes at the end of that call?
                    </p>
                    <p>
                        This time agents spend with potential customers, especially when they can modify a website or campaign right in front of their eyes, is a worthwhile investment. Buy-in and therefore conversion rates increased, quickly ensuring that CrankWheel demonstrated an ROI.
                    </p>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">See the effect on sales and customer success</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="03">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">Customer testimonial: Yell, the UK division of Hibu Group</h3>
                    <div class="testimonial-block">
                        <div class="quote-bg">
                            <p>
                                “Speaking with our telesales and customer success agents, and managers in those departments, we know how useful CrankWheel is for our front-line teams. We have been consistently delighted with CrankWheel since signing-up and first rolling the solution out in 2016.
                            </p>
                            <p>
                                Since then, adoption across the company has grown, with 1000 agents now using CrankWheel either in telesales conversations, or in a remote control capacity, on-boarding customers and troubleshooting. It’s ideal in a sales environment, helping new customers see and experience our solutions, letting them tweak websites and advertising campaigns, before agents ask if they want to go-ahead, which leads to strong buy-in before we ask them to open their wallet.
                            </p>
                            <p>
                                Across telesales and customer success teams, CrankWheel consistently delivers what we need, with an excellent level of service.”
                            </p>
                        </div>
                        <div class="client-card">
                            <div class="client-image">
                                <img src="{{site.baseurl | append: '/static/images/howard-cooke.jpeg' | replace: '//', '/' | replace: ':/', '://'}}" alt="client-image"/>
                            </div>
                            <div class="client-info">
                                <h3 class="tillium-web">Howard Cooke<h3>
                                <p>Head of Service Management,</p>
                                <p>Yell for Business (UK).</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Try CrankWheel for free</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>