---
layout: case-study
title: 'Canada411: Closing in the first call'
description: When Canada 411 added CrankWheel screen-sharing to their sales calls,
  they saw immediate results. The day they started using CrankWheel, sales went up
  and it did not take long for them to cut the sales cycle in half and double their
  close rates.
top_menu: true
keywords: Screen Sharing, Instant Demos, Phone Conferencing, Inside Sales, Telesales,
  Software Presentations
hero:
- template: background-hero
  layout: case-study
  name: 411ca
  dim: true
  company: 411.ca
  title: How a Yellow Pages Canada brand cut the sales cycle in half, with CrankWheel
  summary: 411.ca is a Yellow Pages Canada brand. In 2017, Mike Giamprini, Vice President,
    Strategy & Corporate Development, started using CrankWheel to try and shorten
    their sales cycle. Pretty soon the whole sales team was using it to cut the sales
    cycle in half, making a massive positive impact on close rates and revenue.
  image: "/static/images/simple/highlight.1.png"
  css: |
    .highlight{
        background-position: 0 center;
        background-size: 140%;
        height: 585px;
    } @media (max-width: 900px) {
        .highlight{
            background-size: 170%;
            background-position: 30% 60%;
        }
    } @media (max-width: 800px) {
        .highlight{
            background-size: 340%;
            background-position: 65% 55%;
        }
    } @media (max-width: 600px) {
        .highlight{
            background-size: 380%;
            background-position: 66% 62%;
        }
    } @media (max-width: 400px){
        .highlight{
            background-size: 500%;
            background-position: 60% 60%;
        }
    }
menu_label: Closing in the first call
thumbnail: "/uploads/2023/01/13/download.png"

---
<section class="section-bg" data-section="01">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">411.ca: Why they need CrankWheel?</h3>
                    <p>
                        411.ca is a Yellow Pages Canada brand. Although relatively small in the global Yellow Pages family, it’s still Canada’s top exclusively online directory, connecting over 19 million web visitors to over 1 million businesses every year.
                    </p>
                    <p>
                        From a sales perspective, hitting targets was not always easy. The 411.ca sales team, overseen by a Director of Sales (who reported to the VP of Strategy & Corporate Development) were constantly trying to get sales leads onto a second call to close deals. It wasn't possible on the first call because viable leads, although interested, wanted to see something so they knew what they were buying into.
                    </p>
                    <p>
                        411.ca was selling online marketing services that help businesses establish and stabilize their online presence, manage and respond to their online reviews, and monitor social media conversations about their business.
                    </p>
                    <p>
                        Once a salesperson got a lead on the phone, the difficulty was arranging and then ensuring a prospect stuck to that second booked call. Before that could happen, the majority of leads wanted a sales information document sent over, and then it was a challenge to get that second call to hopefully close the deal.
                    </p>
                    <p>
                        Deals in this particular pipeline are largely transactional and low-ticket enough to make it easy for Canadian small business owners to go-ahead with. However, too many deals were lost because of this delay between the first and second calls.
                    </p>
                    <p>
                        Consequently, hitting sales targets was a challenge because no matter how many viable prospects were in the pipeline there was an unacceptably high attrition rate. A solution for this problem had to be found.
                    </p>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Experience our solution</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="02">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">How and who used CrankWheel at 411.ca?</h3>
                    <p>
                        Mike, VP Strategy & Corporate Development at 411.ca, had heard of CrankWheel before, from CrankWheel partner, Vendasta. He knew it would work in a high-pressure sales environment, and knew the problem mentioned above had to be solved. Somehow, the needle had to be moved to increase sales and reduce the time it took to convert a prospect into a customer.
                    </p>
                    <p>
                        Managed by a Director of Sales, there were 23 sales reps in Toronto, plus another 35 in Montreal. Also, there were a further 20 customer service agents between the two 411.ca offices. Mike oversaw those teams and managed strategy, marketing, and customer service. It was a big role, and so solutions needed to fit well and quickly within the team, and prove an ROI.
                    </p>
                    <p>
                        In a “dial for dollars” environment, everything had to generate a return, and be easy-to-use. CrankWheel ticked both boxes for the 411.ca sales and customer service teams.
                    </p>
                    <div class="bottomframe">
                        {% capture image_src %}{{site.baseurl | append: '/static/images/simple/img6.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image_src style="transform:translateX(0.8em);" background_left=1 %}
                        {% capture image2_src %}{{site.baseurl | append: '/static/images/simple/img8.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image2_src style="align-self:end;align-self:flex-end;transform:translateX(-0.8em);" background_right=1 %}
                    </div>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Try it with your own team</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="03">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">How CrankWheel solved the sales pipeline problem at 411.ca?</h3>
                    <p>
                        When Mike first heard about CrankWheel, it was as innocent and naive as “You should take a look at this. It’s kinda cool.”
                    </p>
                    <p>
                        “Overnight, it completely turned our business around. From the day we rolled it out, and started using it in 411.ca, sales went up”, said Mike in an interview.
                    </p>
                    <p>
                        “It’s so simple to use. Got an account in a matter of minutes. Spoke with the founder, then we played around with it, and after getting a budget quickly approved, the sales team was starting to use it within 2 weeks. It was super low-risk for us. It really is that simple!”
                    </p>
                    <p>
                        The leadership team could see the value very quickly and completely bought into it. The challenge for 411.ca was showing the sales team that the product was worth the short amount of time invested at the start to increase sales long-term.
                    </p>
                    <div class="bottomframe">
                        {% capture image3_src %}{{site.baseurl | append: '/static/images/simple/img11.png' | replace: '//', '/' | replace: ':/', '://'}}{% endcapture %}
                        {% include window-frame.html image=image3_src style="align-self:end;transform:translateX(-0.8em);" background_left=2 background_right=2 %}
                    </div>
                    <p>
                        411.ca built a culture around using CrankWheel. Instead of sending out sales materials to prospects, KPIs were put in place around every part of the sales process to get prospects onto a CrankWheel call. Aiming to close deals in only one call, instead of two, this quickly proved effective, and customers loved it too, as it saved them time and made the process of working with Yellow Pages Canada easier.
                    </p>
                    <p>
                        As a result of using CrankWheel, instant screen-sharing meant that 411.ca could cut the sale cycle in half, thereby doubling close rates.
                    </p>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">See the effect on your sales pipeline</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg" data-section="04">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="tillium-web semibold">Customer testimonial: 411.ca, a division of Yellow Pages Canada</h3>
                    <div class="testimonial-block">
                        <div class="quote-bg">
                            <p>
                                “Before using CrankWheel, we were a two-call-close business; getting prospects on the second call was painful. We needed to move the needle and make it a one-call-close business. It didn't happen overnight: training the sales teams, building a culture around CrankWheel, with weekly KPIs, that made a huge difference. As part of that we coined a phrase that said “sending ain’t selling”. You need to present it to them. That was a mantra.”
                            </p>
                            <p>
                                The beauty of it is the simplicity. From on-boarding to ensuring sales and customer service agents were using it every day. Once we started using it, we saw a turnaround in our business. Sales went up. 411.ca went from being a two-call close business, to new customers saying yes in only one call, thanks to CrankWheel.”
                            </p>
                        </div>
                        <div class="client-card">
                            <div class="client-image">
                                <img src="{{site.baseurl | append: '/static/images/simple/client.png' | replace: '//', '/' | replace: ':/', '://'}}" alt="client-image"/>
                            </div>
                            <div class="client-info">
                                <h3 class="tillium-web">Mike Giamprini<h3>
                                <p>Vice President,<br/>Strategy & Corporate Development,</p>
                                <p>411.ca, a division of Yellow Pages Canada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttonblock">
                        <a href="https://meeting.is/ss/signup#email" class="btn-large primary">Try CrankWheel for free</a>
                        <h6>Free trial of professional features. No credit card needed</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>