<!-- Call to action -->
<div class="z-depth-6">
    <div class="section">
        <div class="container cta">
            <div class="hero center">
                <h1>Erleben Sie den Unterschied – kostenlos</h1>
                <h5>Worauf warten Sie? Probieren Sie CrankWheel<sup>®</sup> aus und sehen Sie selbst, wie leicht es ist, Ihren
                    Bildschirm im Handumdrehen für abgelenkte oder technisch weniger versierte Interessenten
                    freizugeben. Wir glauben, dass Sie und Ihr Vertriebsteam von der Einfachheit und Schnelligkeit
                    von CrankWheel so begeistert sein werden, dass Sie es für das gesamte Team werden einführen
                    wollen.</h5>
                <a href="https://meeting.is/ss/signup#email" onclick="return doSignupLink();" class="btn-large primary">Kostenloses Konto erstellen</a>
            </div>
        </div>
    </div>
</div>
