<!-- Features -->
<div class="white-bcg z-depth-6 features">
  <div class="section no-padding hide-on-small-only">
    <table style="table-layout: fixed">
      <thead></thead>
      <tr>
        <td class="white-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/screen-sharing.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Bildschirmfreigabe</strong></h6>
              <p>
                Maßgeschneidert für Vertriebsprofis. Zeigt Ihnen, worauf sich die Aufmerksamkeit Ihres
                Interessenten konzentriert. Planen Sie ein Meeting oder ergänzen Sie einen laufenden Anruf.
              </p>
              <p align="right"><a href="/screen-sharing">Mehr erfahren</a></p>
            </div>
          </td>
        </td>
        <td class="light-grey-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/remote-control.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Fernsteuerung</strong></h6>
              <p>
                Sie können Ihrem Zuschauer jederzeit die Fernsteuerung Ihres Bildschirms ermöglichen, ohne
dass er irgendetwas herunterladen oder vorbereiten müsste – selbst auf seinem Mobilgerät!
              </p>
              <p align="right"><a href="/remote-control">Mehr erfahren</a></p>
            </div>
      </tr>
      <tr>
        <td class="light-grey-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Sofortige Demos</strong></h6>
              <p>
                Fügen Sie Ihrer Website eine Schaltfläche „Rufen Sie mich jetzt an“ hinzu, um einen Mitarbeiter
zu finden, der sofort anruft, wenn es Ihr Kunde wünscht.
              </p>
              <p align="right"><a href="/instant-demos">Mehr erfahren</a></p>
            </div>
        </td>
        <td class="white-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/works-every-time.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Funktioniert jedes Mal</strong></h6>
              <p>
                CrankWheel funktioniert bei schlechten Netzwerkverbindungen, auf unbekannten Geräten und
in alten Browsern. Mac, PC, iOS, Android, Internet Explorer, Blackberry – es funktioniert immer!
              </p>
              <p align="right"><a href="/works-every-time">Mehr erfahren</a></p>
            </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="section no-padding hide-on-med-and-up">
    <div class="row no-mar valign-wrapper">
      <div class="col s12 light-grey-bcg">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/screen-sharing.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Bildschirmfreigabe</strong></h6>
          <p>
            Maßgeschneidert für Vertriebsprofis. Zeigt Ihnen, worauf sich die Aufmerksamkeit Ihres
            Interessenten konzentriert. Planen Sie ein Meeting oder ergänzen Sie einen laufenden Anruf.
      </p>
          <p align="right"><a href="/screen-sharing">Mehr erfahren</a></p>
        </div>
      </div>
	  <div class="col s12">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/ready-in-seconds.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Fernsteuerung</strong></h6>
          <p>
            Sie können Ihrem Zuschauer jederzeit die Fernsteuerung Ihres Bildschirms ermöglichen, ohne
dass er irgendetwas herunterladen oder vorbereiten müsste – selbst auf seinem Mobilgerät!
          </p>
          <p align="right"><a href="/remote-control">Mehr erfahren</a></p>
        </div>
      </div>
    </div>

    <div class="row no-mar valign-wrapper">
		<div class="col s12 light-grey-bcg">
          <div class="col s12 center-align padding-med">
            <div class="icon-block">
              <div class="pictogram white-bcg">
                <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
              </div>
            </div>
          </div>
          <div class="col s12">
            <h2 class="center light-blue-text"></h2>
            <h6><strong>Sofortige Demos</strong></h6>
            <p>
              Fügen Sie Ihrer Website eine Schaltfläche „Rufen Sie mich jetzt an“ hinzu, um einen Mitarbeiter
zu finden, der sofort anruft, wenn es Ihr Kunde wünscht.
            </p>
          <p align="right"><a href="/instant-demos">Mehr erfahren</a></p>
          </div>
        </div>
      <div class="col s12">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/works-every-time.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Funktioniert jedes Mal</strong></h6>
          <p>
            CrankWheel funktioniert bei schlechten Netzwerkverbindungen, auf unbekannten Geräten und
in alten Browsern. Mac, PC, iOS, Android, Internet Explorer, Blackberry – es funktioniert immer!
          </p>
      <p align="right"><a href="/works-every-time">Mehr erfahren</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
