<!-- google webfont font replacement -->
<link rel="stylesheet" id="avia-google-webfont" href="//fonts.googleapis.com/css?family=Raleway%7CLato:300,400,700" type="text/css" media="all"/>

<link rel="stylesheet" id="avia-grid-css"  href="{{ site.baseurl | append: '/static/css/grid77ae.css?ver=2' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="all" />
<link rel="stylesheet" id="avia-base-css"  href="{{ site.baseurl | append: '/static/css/base77ae.css?ver=2' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="all" />
<link rel="stylesheet" id="avia-layout-css"  href="{{ site.baseurl | append: '/static/css/layout77ae.css?ver=2' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="all" />
<link rel="stylesheet" id="avia-scs-css"  href="{{ site.baseurl | append: '/static/css/shortcodes77ae.css?ver=2' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="all" />
<link rel="stylesheet" id="avia-popup-css-css"  href="{{ site.baseurl | append: '/static/js/aviapopup/magnific-popup68b3.css?ver=1' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="screen" />
<link rel="stylesheet" id="avia-media-css"  href="{{ site.baseurl | append: '/static/js/mediaelement/skin-1/mediaelementplayer68b3.css?ver=1' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="screen" />
<link rel="stylesheet" id="avia-print-css"  href="{{ site.baseurl | append: '/static/css/print68b3.css?ver=1' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="print" />
<link rel="stylesheet" id="avia-dynamic-css"  href="{{ site.baseurl | append: '/static/css/enfold274c.css?ver=563cbc4bc43ea' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="all" />
<link rel="stylesheet" id="avia-custom-css"  href="{{ site.baseurl | append: '/static/css/custom77ae.css?ver=2' | replace: '//', '/' | replace: ':/', '://' }}" type="text/css" media="all" />

<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/jquery/jqueryc1d8.js?ver=1.11.3' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/jquery/jquery-migrate.min1576.js?ver=1.2.1' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/google-captcha/js/script274c.js?ver=4.3.2' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/avia-compat77ae.js?ver=2' | replace: '//', '/' | replace: ':/', '://' }}"></script>

<style type="text/css" media="screen">
 #top #header_main > .container, #top #header_main > .container .main_menu ul:first-child > li > a, #top #header_main #menu-item-shop .cart_dropdown_link{ height:70px; line-height: 70px; }
 .html_header_top.html_header_sticky #top #wrap_all #main{ padding-top:68px; }
</style>

<style type="text/css">
 @font-face {font-family: 'entypo-fontello'; font-weight: normal; font-style: normal;
     src: url("{{ site.baseurl | append: '/static/fonts/entypo/entypo-fontello30f4.eot?v=3' | replace: '//', '/' | replace: ':/', '://' }}");
     src: url("{{ site.baseurl | append: '/static/fonts/entypo/entypo-fontello30f4.eot?v=3#iefix' | replace: '//', '/' | replace: ':/', '://' }}") format('embedded-opentype'),
     url("{{ site.baseurl | append: '/static/fonts/entypo/entypo-fontello30f4.woff?v=3' | replace: '//', '/' | replace: ':/', '://' }}") format('woff'),
     url("{{ site.baseurl | append: '/static/fonts/entypo/entypo-fontello30f4.ttf?v=3' | replace: '//', '/' | replace: ':/', '://' }}") format('truetype'),
     url("{{ site.baseurl | append: '/static/fonts/entypo/entypo-fontello30f4.svg?v=3#entypo-fontello' | replace: '//', '/' | replace: ':/', '://' }}") format('svg');}
 #top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before{ font-family: 'entypo-fontello'; }
</style>

<link href="{{ site.baseurl | append: '/static/css/featherlight.min.css' | replace: '//', '/' | replace: ':/', '://' }}" media="screen,projection" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl | append: '/static/css/screen.css' | replace: '//', '/' | replace: ':/', '://' }}" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="{{ site.baseurl | append: '/static/css/print.css' | replace: '//', '/' | replace: ':/', '://' }}" media="print" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/custom-base.js' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/custom.js' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/modernizr_custom.js' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/featherlight.min.js' | replace: '//', '/' | replace: ':/', '://' }}"></script>
