<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/avia592e.js?ver=3' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/shortcodes592e.js?ver=3' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/aviapopup/jquery.magnific-popup.min77ae.js?ver=2' | replace: '//', '/' | replace: ':/', '://' }}"></script>


<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/mediaelement/mediaelement-and-player.min0392.js?ver=2.17.0' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/mediaelement/wp-mediaelement274c.js?ver=4.3.2' | replace: '//', '/' | replace: ':/', '://' }}"></script>
<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/comment-reply.min274c.js?ver=4.3.2' | replace: '//', '/' | replace: ':/', '://' }}"></script>

<script type="text/javascript" src="{{ site.baseurl | append: '/static/js/custom_foot.js' | replace: '//', '/' | replace: ':/', '://' }}"></script>
