<!-- Features -->
<div class="white-bcg z-depth-6 features">
  <div class="section no-padding hide-on-small-only">
    <table style="table-layout: fixed">
      <thead></thead>
      <tr>
        <td class="white-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/screen-sharing.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Compartir pantalla</strong></h6>
              <p>
                Hecho a medida de los profesionales de ventas. Te muestra dónde se centra la atención de tu
                cliente potencial. Fija una reunión o agrega a una llamada en curso.
              </p>
              <p align="right"><a href="/screen-sharing">Descubre más información</a></p>
            </div>
          </td>
        </td>
        <td class="light-grey-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/remote-control.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Control remoto</strong></h6>
              <p>
                Puedes otorgar control remoto de tu pantalla a tu espectador en cualquier momento, sin
necesidad de ninguna descarga o preparación por su parte, ¡incluso si están usando un móvil!
              </p>
              <p align="right"><a href="/remote-control">Descubre más información</a></p>
            </div>
      </tr>
      <tr>
        <td class="light-grey-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Demostraciones instantáneas</strong></h6>
              <p>
                Añade un botón de “Llámame ahora” a tu página web para encontrar a un agente al que se le
pueda llamar en el momento en que tu cliente lo solicite.
              </p>
              <p align="right"><a href="/instant-demos">Descubre más información</a></p>
            </div>
        </td>
        <td class="white-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/works-every-time.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Funciona sin excepción</strong></h6>
              <p>
                CrankWheel funciona con conexiones de red malas, en dispositivos desconocidos y en
navegadores antiguos. Mac, PC, iOS, Android, Internet Explorer, Blackberries: ¡funciona
siempre!
              </p>
              <p align="right"><a href="/works-every-time">Descubre más información</a></p>
            </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="section no-padding hide-on-med-and-up">
    <div class="row no-mar valign-wrapper">
      <div class="col s12 light-grey-bcg">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/screen-sharing.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Compartir pantalla</strong></h6>
          <p>
            Hecho a medida de los profesionales de ventas. Te muestra dónde se centra la atención de tu
            cliente potencial. Fija una reunión o agrega a una llamada en curso.
          </p>
      <p align="right"><a href="/screen-sharing">Descubre más información</a></p>
        </div>
      </div>
	  <div class="col s12">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/ready-in-seconds.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Control remoto</strong></h6>
          <p>
            Puedes otorgar control remoto de tu pantalla a tu espectador en cualquier momento, sin
necesidad de ninguna descarga o preparación por su parte, ¡incluso si están usando un móvil!
          </p>
      <p align="right"><a href="/remote-control">Descubre más información</a></p>
        </div>
      </div>
    </div>

    <div class="row no-mar valign-wrapper">
		<div class="col s12 light-grey-bcg">
          <div class="col s12 center-align padding-med">
            <div class="icon-block">
              <div class="pictogram white-bcg">
                <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
              </div>
            </div>
          </div>
          <div class="col s12">
            <h2 class="center light-blue-text"></h2>
            <h6><strong>Demostraciones instantáneas</strong></h6>
            <p>
              Añade un botón de “Llámame ahora” a tu página web para encontrar a un agente al que se le
pueda llamar en el momento en que tu cliente lo solicite.
            </p>
          <p align="right"><a href="/instant-demos">Descubre más información</a></p>
          </div>
        </div>
      <div class="col s12">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/works-every-time.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Funciona sin excepción</strong></h6>
          <p>
            CrankWheel funciona con conexiones de red malas, en dispositivos desconocidos y en
navegadores antiguos. Mac, PC, iOS, Android, Internet Explorer, Blackberries: ¡funciona
siempre!
          </p>
      <p align="right"><a href="/works-every-time">Descubre más información</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
