<!-- FAQ -->
<div class="white-bcg z-depth-6">
    <div class="section no-padding hide-on-small-only">
        <table style="table-layout: fixed">
            <thead></thead>
            <tr>
                <td class="white-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>Which plan is best for me?</strong></h6>
                        <p>
                            All standard plans listed above include an unlimited number of user seats. The plans differ in usage limits.
                        </p>
                        <p>
                            Feel free to start on our free plan, deploy to any number of users, customize fully,
                            and then see whether you use CrankWheel enough to need to pay. If and when you hit
							limits, you will have one month of unlimited usage after that, during which we will discuss
							your needs with you, so you don't need to worry about running out of usage.
                        </p>
                        <p>
							If you prefer to discuss your needs up front,
							<a href="#crankwheel-com-showu-launch-button">request a demo</a> and we'll be happy to help.
                        </p>
                    </div>
                </td>
                <td class="light-grey-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/ready-in-seconds/no-installation.png">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>What are the technical requirements?</strong></h6>
						<p>
                            Viewers are never asked to download or install anything. Screen Sharing sessions start instantly in their browser window! Presenters can simply invite people in real-time with a few clicks. Viewers can enter sessions at any moment without the hassle of providing any information.
                        </p>
                        <p>
                            Presenters can optionally <a href="https://chrome.google.com/webstore/detail/crankwheel-screen-sharing/dooinopjfnhlmmdkdepajfipfhlcmjgp">install a Chrome extension</a>, which takes only a few seconds.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="light-grey-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/works-every-time/reliable-choice.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>How reliable is Screen Sharing?</strong></h6>
						<p>
                            You can initiate screen sharing sessions with viewers regardless of the browser version they use. CrankWheel requires neither an installation nor dedicated plugins to work, even on old versions of Internet Explorer! Receive Instant Demo requests and share your screen with viewers browsing your website on any computing device including their smartphone.
                        </p>
                    </div>
                </td>
                <td class="white-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/works-every-time/ease-of-use.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>Are there any discounts?</strong></h6>
                        <p>
							If you would like to pay annually, you get 12 months for the price of 10 (roughly 17% off). Please
							email <a href="mailto:sales@crankwheel.com">sales@crankwheel.com</a>
							to request a switch to paying annually.
						</p>
						<p>
							We also offer a discounted plan for solo practitioners, at $29/month, identical to our Starter Team plan except limited to a single user. We will offer you this plan if you exceed limits and are the sole user from your organization.
						</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="white-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/static/images/define-administration-icon.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>Is there special pricing for educational institutions?</strong></h6>
                        <p>
							We offer special pricing and benefits for educational institutions. Please e-mail <a href="mailto:sales@crankwheel.com">sales@crankwheel.com</a> to get more details.
                        </p>
                    </div>
                </td>
                <td class="light-grey-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/ready-in-seconds/webinars.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>How do the meeting limits work?</strong></h6>
                        <p>
                            Each plan includes a given number of meetings per month. We count a meeting
							any time a user on your account screen shares to one or more viewers (1, 2,
							300 viewers, it doesn't matter), or any time an Instant Demo request is marked as
							handled by an agent. Screen shares shorter than 40 seconds are not counted.
                        </p>
						<p>
                        	We won't cut you off without warning when you meet or exceed your limit. Instead,
							we'll get in touch and give you a 30 day period of unlimited usage while you decide whether to
							upgrade to a larger plan, or switch to hard limits.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="light-grey-bcg">
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/ready-in-seconds/ready-in-seconds.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>What is the cancellation policy?</strong></h6>
						<p>
							You can cancel at any time through our billing portal, which each monthly account statement contains a link to, or by emailing our <a href="mailto:support@crankwheel.com">support team</a>. Your license will expire at the end of the current billing period, and your card will not be charged again after you cancel.
	                    </p>
                    </div>
                </td>
                <td>
                    <div class="col s12 l4 center-align">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/works-every-time/mobile-sales.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l8 padding-med">
                        <h2 class="center light-blue-text"></h2>
                        <h6><strong>What forms of payment do you accept?</strong></h6>
                        <p>
                            We accept Visa, MasterCard and PayPal. For annual plans and enterprise customers we are happy to offer invoice billing by wire transfer.
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="section no-padding hide-on-med-and-up">
        <div class="row no-mar valign-wrapper">
            <div class="col s12">
                <div class="col s12 center-align padding-med">
                    <div class="icon-block">
                        <div class="pictogram white-bcg">
                            <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
                    <h6><strong>Which plan is best for me?</strong></h6>
					<p>
						All paid plans include an unlimited number of user seats. The plans differ in usage limits.
					</p>
					<p>
						Feel free to start on our free plan, deploy to any number of users, customize fully,
						and then see whether you use CrankWheel enough to need to pay. If and when you hit
						limits, you will have one month of unlimited usage after that, during which we will discuss
						your needs with you, so you don't need to worry about running out of usage.
					</p>
					<p>
						If you prefer to discuss your needs up front,
						<a href="#crankwheel-com-showu-launch-button">request a demo</a> and we'll be happy to help.
					</p>
                </div>
                <div class="col s12 light-grey-bcg">
                    <div class="col s12 center-align padding-med">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/ready-in-seconds/no-installation.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
                    <h6><strong>What are the technical requirements?</strong></h6>
					<p>
						Viewers are never asked to download or install anything. Screen Sharing sessions start instantly in their browser window! Presenters can simply invite people in real-time with a few clicks. Viewers can enter sessions at any moment without the hassle of providing any information.
					</p>
					<p>
						Presenters need to <a href="https://chrome.google.com/webstore/detail/crankwheel-screen-sharing/dooinopjfnhlmmdkdepajfipfhlcmjgp">install a Chrome extension</a>, which takes only a few seconds.
					</p>
                </div>
            </div>
        </div>
        <div class="row no-mar valign-wrapper">
            <div class="col s12">
                <div class="col s12 center-align padding-med">
                    <div class="icon-block">
                        <div class="pictogram white-bcg">
                            <img class='responsive-img' src="/works-every-time/reliable-choice.svg">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
                    <h6><strong>How reliable is Screen Sharing?</strong></h6>
					<p>
						You can initiate screen sharing sessions with viewers regardless of the browser version they use. CrankWheel requires neither an installation nor dedicated plugins to work, even on old versions of Internet Explorer! Receive Instant Demo requests and share your screen with viewers browsing your website on any computing device including their smartphone.
					</p>
                </div>
                <div class="col s12 light-grey-bcg">
                    <div class="col s12 center-align padding-med">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/ready-in-seconds/webinars.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
					<h6><strong>Are there any discounts?</strong></h6>
					<p>
						If you would like to pay annually, you get 12 months for the price of 10 (roughly 17% off). Please
						email <a href="mailto:sales@crankwheel.com">sales@crankwheel.com</a>
						to request a switch to paying annually.
					</p>
					<p>
						We also offer a discounted plan for solo practitioners, at $29/month, identical to our Starter Team plan except limited to a single user. We will offer you this plan if you exceed limits and are the sole user from your organization.
					</p>
			</div>
            </div>
        </div>
        <div class="row no-mar valign-wrapper">
            <div class="col s12">
                <div class="col s12 center-align padding-med">
                    <div class="icon-block">
                        <div class="pictogram white-bcg">
                            <img class='responsive-img' src="/static/images/define-administration-icon.svg">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
                    <h6><strong>Is there special pricing for educational institutions?</strong></h6>
                    <p>
						We offer special pricing and benefits for educational institutions. Please e-mail <a href="mailto:sales@crankwheel.com">sales@crankwheel.com</a> to get more details.
                    </p>
                </div>
                <div class="col s12 light-grey-bcg">
                    <div class="col s12 center-align padding-med">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/works-every-time/ease-of-use.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
					<h6><strong>How do the meeting limits work?</strong></h6>
					<p>
						Each plan includes a given number of meetings per month. We count a meeting
						any time a user on your account screen shares to one or more viewers (1, 2,
						300 viewers, it doesn't matter), or any time an Instant Demo request is marked as
						handled by an agent. Screen shares shorter than 40 seconds are not counted.
					</p>
					<p>
						We won't cut you off without warning when you meet or exceed your limit. Instead,
						we'll get in touch and give you a 30 day period of unlimited usage while you decide whether to
						upgrade to a larger plan, or switch to hard limits.
					</p>
                </div>
            </div>
        </div>
        <div class="row no-mar valign-wrapper">
            <div class="col s12">
                <div class="col s12 center-align padding-med">
                    <div class="icon-block">
                        <div class="pictogram white-bcg">
                            <img class='responsive-img' src="/ready-in-seconds/ready-in-seconds.svg">
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
                    <h6><strong>What is the cancellation policy?</strong></h6>
                    <p>
						You can cancel at any time through our billing portal, which each monthly account statement contains a link to, or by emailing our <a href="mailto:support@crankwheel.com">support team</a>. Your license will expire at the end of the current billing period, and your card will not be charged again after you cancel.
                    </p>
                </div>
                <div class="col s12 light-grey-bcg">
                    <div class="col s12 center-align padding-med">
                        <div class="icon-block">
                            <div class="pictogram white-bcg">
                                <img class='responsive-img' src="/works-every-time/mobile-sales.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h2 class="center light-blue-text"></h2>
                    <h6><strong>What forms of payment do you accept?</strong></h6>
                    <p>
						We accept Visa, MasterCard and PayPal. For annual plans and enterprise customers we are happy to offer invoice billing by wire transfer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
