<div class="section">
    <div class="{{include.container_type | default: 'container-fluid' }}">
        <div class="row">
            <div class="feature-section col {{include.column_class | default: 's12 l10 offset-l1' }}">
                {% if include.used_by %}
                <h6 class="text-center mb-2">USED BY:</h6>
                <div class="flex flex-row flex-justify-between flex-gap mb-3">
                    {% for customer in include.used_by %}
                    <img src="{{customer.image}}" alt="{{customer.name}}" class="w-10 grayscale">
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="feature-section col {{include.column_class | default: 's12 m10 offset-m1 l8 offset-l2' }}">
        
                <h4 class="text-center"><strong>{{include.title}}</strong></h4>
                <h6 class="text-center feature-section--subtitle mb-3">{{include.subtitle}}</h6>

                <div data-component="three-col" style="gap:85px;">
                    {% for feature in include.features %}
                    <div data-component="feature-col" class="{% if feature.align %}text-{{feature.align}}{% endif %}">
                        <img data-ilustration src="{{feature.ilustration}}" alt="image for {{feature.title}}">
                        <h5 data-title><strong>{{feature.title}}</strong></h5>
                        {{feature.description | markdownify }}
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>