<!-- Features -->
<div class="white-bcg z-depth-6 features">
  <div class="section no-padding hide-on-small-only">
    <table style="table-layout: fixed">
      <thead></thead>
      <tr>
        <td class="white-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/screen-sharing.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Reduce time-to-close on cold prospects</strong></h6>
              <p>
                  Sales leaders around the world use CrankWheel<sup>®</sup> to instantly share their screen with prospects — no download required. Using our Chrome Extension, you can show your prospects your screen on either their mobile device or desktop in less than 10 seconds. Yes — it’s that fast and reliable.
              </p>
              <p align="right"><a href="/screen-sharing">Learn more</a></p>
            </div>
          </td>
        </td>
        <td class="light-grey-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/ready-in-seconds.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Easy-to-use for sales teams</strong></h6>
              <p>
                Even though it’s powerful, CrankWheel<sup>®</sup> is still extremely easy-to-use. Your sales team will only need to spend time practicing their pitch; not fumbling around with the screen-sharing tool.
              </p>
              <p align="right"><a href="/ready-in-seconds">Learn more</a></p>
            </div>
      </tr>
      <tr>
        <td class="light-grey-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Instantly demo inbound leads</strong></h6>
              <p>
                Add a "Call Me Now" button to your website to find an agent to call the moment your prospect requests it. Perfect for businesses who need to immediately be able to respond to new leads the second they hit the pipeline.
              </p>
              <p align="right"><a href="/instant-demos">Learn more</a></p>
            </div>
        </td>
        <td class="white-bcg">
			<div class="col s12 l4 center-align">
              <div class="icon-block">
                <div class="pictogram white-bcg">
                  <img class='responsive-img' src="/static/redesign/img/landing/works-every-time.svg">
                </div>
              </div>
            </div>
            <div class="col s12 l8 padding-med">
              <h2 class="center light-blue-text"></h2>
              <h6><strong>Reliable screen-sharing from anywhere in the world</strong></h6>
              <p>
                CrankWheel<sup>®</sup> works over bad network connections, on obscure devices, and even old browsers. Mac, PC, iOS, Android, Internet Explorer, Blackberry - it simply always works!
              </p>
              <p align="right"><a href="/works-every-time">Learn more</a></p>
            </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="section no-padding hide-on-med-and-up">
    <div class="row no-mar valign-wrapper">
      <div class="col s12 light-grey-bcg">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/screen-sharing.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Screen Sharing</strong></h6>
          <p>
              Custom-made for sales professionals. Shows you where your prospect's attention is focused.
              Schedule a meeting or add to an ongoing call.
          </p>
          <p align="right"><a href="/screen-sharing">Learn more</a></p>
        </div>
      </div>
	  <div class="col s12">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/ready-in-seconds.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Remote Control</strong></h6>
          <p>
			  You can grant your viewer remote control of your screen at any time, without any
			  download or preparation needed on their side, even if they're on their mobile!
          </p>
          <p align="right"><a href="/remote-control">Learn more</a></p>
        </div>
      </div>
    </div>

    <div class="row no-mar valign-wrapper">
		<div class="col s12 light-grey-bcg">
          <div class="col s12 center-align padding-med">
            <div class="icon-block">
              <div class="pictogram white-bcg">
                <img class='responsive-img' src="/static/redesign/img/landing/instant-demos.svg">
              </div>
            </div>
          </div>
          <div class="col s12">
            <h2 class="center light-blue-text"></h2>
            <h6><strong>Instant demos</strong></h6>
            <p>
                Add a "Call me Now" button to your website to find an agent to call the moment
                your customer requests it.
            <p align="right"><a href="/instant-demos">Learn more</a></p>
          </div>
        </div>
      <div class="col s12">
        <div class="col s12 center-align padding-med">
          <div class="icon-block">
            <div class="pictogram white-bcg">
              <img class='responsive-img' src="/static/redesign/img/landing/works-every-time.svg">
            </div>
          </div>
        </div>
        <div class="col s12">
          <h2 class="center light-blue-text"></h2>
          <h6><strong>Works every time</strong></h6>
          <p>
            CrankWheel<sup>®</sup> works over bad network connections, on obscure devices and old browsers. Mac, PC, iOS, Android,
            Internet Explorer, Blackberries - it always works!
          <p align="right"><a href="/works-every-time">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
