<div class="section background-gradient">
    <div class="{{include.container_type | default: 'container-fluid' }}">
        <div class="row">
            <div data-component="experience-crankwheel" class="col text-center {{include.column_class | default: 's12 l10 offset-l1' }}">

                <h4 class="mt-5 mb-3"><strong>Want to experience CrankWheel?</strong></h4>
                <h5>Get a demo to see how screen sharing with CrankWheel can bring you to the next level.</h5>
                <a role="button" data-schedule-demo class="btn mt-2 mb-5">
                    GET A DEMO
                </a>
                
            </div>
        </div>
    </div>
</div>

<div class="light-grey-bcg section">
    <div class="{{include.container_type | default: 'container-fluid' }}">
        <div class="row">
            <div class="col flex flex-center {{include.column_class | default: 's12 m10 offset-m1 l8 offset-l2' }}">

                    <div class="pr-1">

                        <h4>
                            <strong>Over 50,000 users make their calls more effective with CrankWheel</strong>
                        </h4>

                        <ul>
                            <li class="py-1">
                                {% include checkmark %}
                                <span class="small">Instantly add visuals to your phone calls. No installation or registration required for your viewers.</span>
                            </li>
                            <li class="py-1">
                                {% include checkmark %}
                                <span class="small">Make complicated matters simple by showing them. </span>
                            </li>
                            <li class="py-1">
                                {% include checkmark %}
                                <span class="small">Close the sale faster, even in the first cold call.</span>
                            </li>
                        </ul>
        
                    </div>
                    <div>
                        <iframe data-component="video" width="800" height="450" src="https://www.youtube.com/embed/XdM93PKGIhk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
        
            </div>
        </div>
    </div>
</div>

<div class="section pb-3">
    <div class="{{include.container_type | default: 'container-fluid' }}">
        <div class="row">
            <div class="col {{include.column_class | default: 's12 l10 offset-l1' }}">
                <h4 class="text-center mb-3 mt-2">
                    <strong>What our customers have to say</strong>
                </h4>

                <div data-component="three-col">

                    <div>
                        <div data-component="testimonial" aria-orientation="vertical" class="shadow-container">
                            <h5 data-title><strong>MORTGAGE ADVISORS</strong></h5>
                            <figure>
                                <img src="/static/images/used_by/CG.png" alt="connels logo">
                            </figure>
                            <span data-description>
                                Connells Group transitioned their in-person appointments to remote settings during the pandemic with CrankWheel.
                            </span>
                            <cite>
                                <p class="quote-small yellow-mark">
                                    We were looking at ways in which we could effectively share content with customers in a live scenario. Almost all of the other solutions require the customer to download or install something and consumers just don’t want that.
                                </p>
                            </cite>
                            <div data-author>
                                <figure>
                                    <img src="/static/images/Paul Arnold.jpg" alt="Paul Arnold">
                                </figure>
                                <p>
                                    <strong>Paul Arnold</strong><br/>
                                    Group Operations Director of The New Homes Group, Part of Connells Group
                                </p>
                            </div>
                            <a href="https://crankwheel.com/connells-case-study/" data-component="triangle-link">READ CASE STUDY</a>
                        </div>
                    </div>

                    <div>
                        <div data-component="testimonial"  aria-orientation="vertical" class="shadow-container">
                            <h5 data-title><strong>DIGITAL MARKETING SERVICES</strong></h5>
                            <figure>
                                <img src="/static/images/used_by/yell.png" alt="connels logo">
                            </figure>
                            <span data-description>
                                Yell uses CrankWheel in their sales and onboarding processes to acquire customers and reduce churn.
                            </span>
                            <cite>
                                <p class="quote-small yellow-mark">
                                    Speaking with our telesales and customer success agents, and managers in those departments, we know how useful CrankWheel is for our front-line teams.
                                </p>
                            </cite>
                            <div data-author>
                                <figure>
                                    <img src="/static/images/howard-cooke.jpeg" alt="howard cooke">
                                </figure>
                                <p>
                                    <strong>Howard Cooke</strong><br/>
                                    Head of Service Management, Yell for Business (UK)
                                </p>
                            </div>
                            <a href="https://crankwheel.com/yell-hibu-case-study/" data-component="triangle-link">READ CASE STUDY</a>
                        </div>
                    </div>

                    <div>
                        <div data-component="testimonial" aria-orientation="vertical" class="shadow-container">
                            <h5 data-title><strong>TAX ADVISORY</strong></h5>
                            <figure>
                                <img src="/static/images/declarando.png" alt="declarando logo">
                            </figure>
                            <span data-description>
                                We help Declarando to shorten their sales cycle and accelerate growth.
                            </span>
                            <cite>
                                <p class="quote-small yellow-mark">
                                    With CrankWheel, our sales team can convert a new customer within one call, instead of two or three. This has a massive positive impact on our sales cycle and conversion rates!
                                </p>
                            </cite>
                            <div data-author>
                                <figure>
                                    <img src="/static/images/juanjo.jpeg" alt="juanjo">
                                </figure>
                                <p>
                                    <strong>Juanjo Radiu</strong><br/>
                                    Chief Business Officer (CBO) & Co-founder Declarando
                                </p>
                            </div>
                            <a href="https://crankwheel.com/declarando-case-study/" data-component="triangle-link">READ CASE STUDY</a>
                        </div>
                    </div>

    
                </div>

            </div>
        </div>
    </div>
</div>

<div class="light-grey-bcg section py-3">
    <div class="{{include.container_type | default: 'container-fluid' }}">
        <div class="row">
            <div class="col {{include.column_class | default: 's12 m10 offset-m1 l8 offset-l2' }}">

                <h4 class="text-center mb-3 mt-2">
                    <strong>See how users rate and review CrankWheel</strong>
                </h4>

                <div class="row flex">
                    <div data-component="store-review" class="col {{include.column_class | default: 's12 m6 l5' }}">
                        <figure>
                            <a href="https://www.g2.com/products/crankwheel/reviews/crankwheel-review-5319839">
                                <img src="/static/images/reviews/g2.png" alt="g2">
                            </a>
                        </figure>
                        <img src="/static/images/reviews/stars.png" alt="stars">
                        <cite data-review>
                            After showing all plans on CrankWheel, sales seem to close themselves. Every professional should have the access to screen share tech that creates a value proposition virtually in just a click.
                        </cite>
                        <p data-author>
                            Jay S<br/>
                            G2 review
                        </p>
                    </div>
                    <div data-component="store-review" class="col {{include.column_class | default: 's12 m6 l5 offset-l1' }}">
                        <figure>
                            <a href="https://chrome.google.com/webstore/detail/crankwheel-screen-sharing/dooinopjfnhlmmdkdepajfipfhlcmjgp?hl=en">
                                <img src="/static/images/reviews/chromewebstore.png" alt="chrome web store">
                            </a>
                        </figure>
                        <img src="/static/images/reviews/stars.png" alt="stars">
                        <cite data-review>
                            CrankWheel makes it really easy for me to share my screen with clients. I can show them what I am talking about. So much easier than a written email could.
                        </cite>
                        <p data-author>
                            Craig P<br/>
                            Chrome Web Store review
                        </p>
                    </div>
                </div>

                <div class="row flex">
                    <div data-component="store-review" class="col {{include.column_class | default: 's12 m6 l5' }}">
                        <figure>
                            <a href="https://www.capterra.com/p/169099/CrankWheel/reviews/1869299/">
                                <img src="/static/images/reviews/capterra.png" alt="capterra">
                            </a>
                        </figure>
                        <img src="/static/images/reviews/stars.png" alt="stars">
                        <cite data-review>
                            It’s blisteringly fast to get a viewer on a live share session and clarify any questions. The faster I can resolve concerns or answer questions means I'm that much closer to helping customers or prospective clients.
                        </cite>
                        <p data-author>
                            Richard G<br/>
                            Capterra review
                        </p>
                    </div>
                    <div data-component="store-review" class="col {{include.column_class | default: 's12 m6 l5 offset-l1' }}">
                        <figure>
                            <a href="https://www.trustradius.com/reviews/crankwheel-screen-sharing-2021-11-24-09-19-08">
                                <img src="/static/images/reviews/trustradius.png" alt="trustradius">
                            </a>
                        </figure>
                        <img src="/static/images/reviews/stars.png" alt="stars">
                        <cite data-review>
                            Many people who constantly are on the go but they always have their SmartPhone available. I have closed many deals by using CrankWheel. Easy to use, efficient and productive.
                        </cite>
                        <p data-author>
                            Ridge S<br/>
                            TrustRadius Review
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section py-3">
    <div class="{{include.container_type | default: 'container-fluid' }}">
        <div class="row">
            <div class="col {{include.column_class | default: 's12 m10 offset-m1' }}">

                <div class="row">
                    <div class="col {{include.column_class | default: 's12 m6' }}">
                        <div data-component="medium-box" class="text-center">
                            <h6><strong>USE CASES</strong></h6>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-digital-agency-sales/" data-component="triangle-link" class="py-1">Digital Marketing Services</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-education/" data-component="triangle-link" class="py-1">Education</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-solar-agents/" data-component="triangle-link" class="py-1">Solar Agents</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-insurance/" data-component="triangle-link" class="py-1">Insurance Sales</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-mortgage-advisors/" data-component="triangle-link" class="py-1">Mortgage Advisors</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-sales/" data-component="triangle-link" class="py-1">Sales</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-financial-services/" data-component="triangle-link" class="py-1">Financial Services</a>
                            <a href="https://crankwheel.com/industries/screen-sharing-for-retail-energy/" data-component="triangle-link" class="py-1">Retail Energy</a>
                        </div>
                    </div>
                    <div class="col {{include.column_class | default: 's12 m6' }}">
                        <div data-component="medium-box" class="text-center">
                            <h6><strong>FEATURES</strong></h6>
                            <a href="https://crankwheel.com/screen-sharing/" data-component="triangle-link" class="py-1">Screen sharing</a>
                            <a href="https://crankwheel.com/remote-control/" data-component="triangle-link" class="py-1">Remote Control</a>
                            <a href="https://crankwheel.com/instant-demos/" data-component="triangle-link" class="py-1">Instant Lead Capture</a>
                            <a href="https://crankwheel.com/api/" data-component="triangle-link" class="py-1">Embed & Integrate</a>
                            {% for feature_page in site.feature_page %}
                            {% if feature_page.url != page.url %}
                            <a href="{{feature_page.url}}" data-component="triangle-link" class="py-1">{{feature_page.title}}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
