<div class="row light-grey-bcg section {{include.class}}">
    <div class="col s12 m10 offset-m1">
        <div class="yellow-text">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
        <div>
            {{include.content}}
        </div>
        <div>{{include.subcontent}}</div>
    </div>
</div>