<footer class="page-footer dark-grey-bcg">
  <div class="container padding-top-bot">
    <div class="row">
      <div class="col l3 s12 mobile-center-align">
        <img class="responsive-img footer-img" src="/static/redesign/img/crankwheel_logo.png">
        <div class="social-icons">
          <a href="https://www.facebook.com/crankwheel" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/crankwheel" target="_blank">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/company/crankwheel" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </div>
        <div class="contact">
          <p>General inquires: <a href="mailto:info@crankwheel.com">info@crankwheel.com</a></p>
          <p>Customer support: <a href="mailto:support@crankwheel.com">support@crankwheel.com</a></p>
          <p>System status: <a href="https://status.crankwheel.com/">status.crankwheel.com</a></p>
          <br>
          <p>Telephone: <a href="callto:+18777532945">+1&nbsp;(877)&nbsp;753-2945</a></p>
        </div>
      </div>
      <div class="col l3 s12 center-align">
        <h5 class="white-text">Product</h5>
        <ul>
          <li><a class="white-text" href="/screen-sharing/">Screen Sharing</a></li>
		  <li><a class="white-text" href="/remote-control/">Remote Control</a></li>
          <li><a class="white-text" href="/instant-demos/">Instant Demos</a></li>
          <li><a class="white-text" href="/ready-in-seconds/">Ready in seconds</a></li>
          <li><a class="white-text" href="/works-every-time/">Works every time</a></li>
		  <li><a class="white-text" href="/api/">Embed & Integrate</a></li>
          <li><a class="white-text" href="/pricing/">Pricing</a></li>
        </ul>
        <br/>
        <h5 class="white-text">In German</h5>
        <ul>
          <li><a class="white-text" href="/Verkauf-von-digitalen-Marketingdiensten-mit-Bildschirmfreigabe-case-study/">Verkauf von digitalen Marketingdienstleistungen an lokale Unternehmen über das Telefon</a></li>
          <li><a class="white-text" href="/bildschirmfreigabe-vertriebsteams/">Bildschirmfreigabe für Vertriebsteams</a></li>
        </ul>
      </div>
      <div class="col l3 s12 center-align">
        <h5 class="white-text">Company</h5>
        <ul>
          <li><a class="white-text" href="/blog">Blog</a></li>
		  <li><a class="white-text" href="/sign-up-to-download/">Sales e-Book</a></li>
          <li><a class="white-text" href="/affiliate-program/">Affiliate Program</a></li>
		  <li><a class="white-text" href="/api/">API Documentation</a></li>
          <li><a class="white-text" href="https://www.youtube.com/channel/UCekAbmzLXHrh0t3uYuisYWw">Walkthrough Videos</a></li>
					<li><a class="white-text" href="/business-continuity-statement-in-light-of-covid19/">Business continuity</a></li>
					<li><a class="white-text" href="/jobs/">Jobs at CrankWheel</a></li>
          <li><a class="white-text" href="https://support.crankwheel.com/">Knowledge Base</a></li>
        </ul>
        <br/>
        <h5 class="white-text">In Spanish</h5>
        <ul>
          <li><a class="white-text" href="/compartir-pantalla/">Compartir pantalla diseñado para equipos de ventas</a></li>
        </ul>
      </div>
      <div class="col l3 s12 center-align">
        <a href="/sign-up-to-download/"
          <h5 class="white-text">Get free <span class="yellow-text">e-book</span></h5>
        <br>
          <img class="responsive-img footer-img" src="/static/redesign/img/ebook-convert-22x.png">
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <ul class="attributions">
            <li>&copy; CrankWheel ehf. 2022</li>
            <li><a href="/its-a-kind-of-funding">Supported by <img src="/static/images/fund.png"></a></li>
            <li><a href="/attributions">Attributions</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
			<li><a href="/data-protection">Data Protection</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
{% include showu-content.html %}
<!-- start Gist JS code--><script>(function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("7htyj7cg"),gist.trackPageView()})(document,'head',window);</script><!-- end Gist JS code-->
<script type="text/javascript" src="/static/js/clone_showu.js"></script>
