<template id="showu-modal-content"><div class="demo-on-demand" style="height:447px">
    <div class="_modal">
        <div class="_modal-head loading">
            <div class="status-text">
                <h6 class="requesting no-capacity">&nbsp;&nbsp;&nbsp;&nbsp;</h6>
                <h5 class="requesting no-capacity">Get a live demo of CrankWheel</h5>
            </div>
            <div class="icons">
                <div class="material-icons button-close-dod">close</div>
            </div>
            <div class="loading-bar"></div>
        </div>
        <div class="_modal-content">
            <div class="_section standalone phone-number" id="phone-number">
                <h2 class="phone-number-text no-capacity">What is more convenient for you?</h2>
                <h5 class="phone-number-text no-capacity">You can either choose a slot in our calendar or receive a call as soon as possible</h5>
                <form data-type="prospect-phone-input">
                    <div class="button-group">
                        <button id="schedule-demo" class="primary large half-capacity">Schedule a demo</button>
                        <button id="get-demo-asap" class="primary large half-capacity">Get a demo ASAP</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div><a href="//crankwheel.com/?utm_source=dod&amp;utm_medium=poweredby" target="_blank">You can reach customer support by closing this form and clicking on the messenger bubble at the bottom right of our website.</a></template>
<!--<div id="crankwheel-com-showu-powered-by"><img alt="CrankWheel" src="https://meeting.is/ss/images/cwicon-fe312a9ea32f97c7ec713024fbb82a6d.png?vsn=d" width="15" height="15"><h6><a href="//crankwheel.com/?utm_source=dod&amp;utm_medium=poweredby" target="_blank">Instant demos and screen sharing by <u>CrankWheel</u></a></h6></div>-->
