doctype html
html(lang="en")
	include includes/base/head.jade

	body
		include includes/b-header.jade
		include includes/b-first.jade
		include includes/b-talk-to-us.jade
		include includes/b-video.jade
		include includes/b-crankwheel.jade
		include includes/b-testimonials.jade
		include includes/b-advantages.jade
		include includes/b-our-prices.jade
		include includes/b-talk-to-us_horiz.jade
		include includes/b-footer.jade

		include includes/m-form.jade
		include includes/m-before-you-go.jade
		include includes/m-video.jade



		script
			include includes/YT.js

		script(
			src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )

		script(
			src="dist/js/plugin/swiper.jquery.min.js" )

		script(
			src="dist/js/plugin/libribox.js" )

		script(
			src="dist/js/specific/app.js" )
