section.b-advantages

	.e-visual-info.item

	.e-text-info.item

		.e-bg

		.b-advantages__block.item
			h3 Get your customer connected easily
			hr
			ul.e-list
				li Works for the least tech-savvy
				li Send a text message (SMS)
				li Or say your reception lobby URL, e.g. <b>meeting.is/acme</b>

		.b-advantages__block.item
			h3 Be sure what they’re seeing
			hr
			ul.e-list
				li Preview pane
				li Shows what your customer sees
				li And when they see it

		.b-advantages__block.item
			h3 Clearly demo how your site works
			hr
			ul.e-list
				li Share just the contents of your browser tab
				li Your mouse cursor is highlighted

		.b-advantages__block.item
			h3 All your standard tools are supported
			hr
			ul.e-list
				li Corporate web site
				li Corporate intranet
				li Accounting and offer apps