section.b-advantages

	.e-visual-info.item

	.e-text-info.item

		.e-bg

		.b-advantages__block.item
			h3 Get your customer(s) connected easily
			hr
			ul.e-list
				li Send them a text message (SMS)
				li Just say your reception lobby URL, e.g. meeting.is/acme
				li Email them a link
				li Add as many viewers as you like

		.b-advantages__block.item
			h3 Give cleaner web demos
			hr
			ul.e-list
				li Share just the contents of your browser tab
				li Your mouse cursor is highlighted

		.b-advantages__block.item
			h3 No asking “do you see the next slide yet?”
			hr
			ul.e-list
				li Preview pane
				li Shows what your customer sees…
				li And when they see it

		.b-advantages__block.item
			h3 All your standard tools are supported
			hr
			ul.e-list
				li PowerPoint
				li Keynote