section.b-crankwheel

	.b-crankwheel__header
		.container

			header.g-header
				h2 CrankWheel
				hr
				p More sales, fewer follow-up meetings

	ul.b-crankwheel__list
		li
			.item
				.e-info
					h3 Explain visually
					ul.e-list
						li No more “just click the big button”
						li No more “line 37 of your statement”
						li No more reciting tables of numbers
		li
			.item
				.e-info
					h3 Instantly
					ul.e-list
						li Guide them through your website
						li Go through statements visually
						li Show complex info, don’t recite it
		li
			.item
				.e-info
					h3 No worry, no hassle
					ul.e-list
						li Any computer, tablet, smartphone
						li Any browser
						li Any network connection