section.b-crankwheel

	.b-crankwheel__header
		.container

			header.g-header
				h2 CrankWheel
				hr
				p More sales, fewer follow-up meetings

	ul.b-crankwheel__list
		li
			.item
				.e-info
					h3 Get their attention
					ul.e-list
						li Eyes as well as ears
						li Even if they’re on the run
						li They need nothing but their smartphone
		li
			.item
				.e-info
					h3 Instantly
					ul.e-list
						li Give a presentation or do a demo
						li Mid phone call
						li No preparation required
		li
			.item
				.e-info
					h3 No worry, no hassle
					ul.e-list
						li Any computer, tablet, smartphone
						li Any browser
						li Any network connection