section.b-first
	.container

		.item

			.b-first__content
				p You’re on the phone with customers all the time
				h2 Make it count!

				.e-decorate
					.e-point
					.e-point

					button.b-first__btn-next.c-first__btn-next