section.b-our-prices
	.container

		header.g-header
			h2 Our Prices
			hr

		ul.b-our-prices__list

			li
				.b-our-prices__list__item

					.inner

						.e-header
							h3 Unlimited Plan
							hr
							p Professional, co-branded screen sharing for teams or small companies

						.e-price
							.item
								.e-cost
									.e-currency.item $
									.e-number.item 17
								.e-description per user, billed monthly

						ul.e-list
							li
								.item Co-branded
							li
								.item Your own reception lobby
							li
								.item Unlimited one-on-one sharing
							li
								.item Unlimited multi-viewer sharing
							li
								.item Automated onboarding and training
							li
								.item Basic reporting
							li
								.item Priority email support
							li
								.item —
							li
								.item —
							li
								.item —
							li
								.item —

				button.btn-warning.c-modal__bind(data-number="1") Sign up and Start a Trial

			li
				.b-our-prices__list__item
					.e-mark Most popular

					.inner

						.e-header
							h3 Enterprise Plan
							hr
							p Enterprise-class screen sharing, management, integrations and support for your whole company

						.e-price
							.item
								.e-text Talk to sales for a customized deal

						ul.e-list
							li
								.item White label or co-branded
							li
								.item Multiple reception lobbies
							li
								.item Unlimited one-on-one sharing
							li
								.item Unlimited multi-viewer sharing
							li
								.item Concierge onboarding and training
							li
								.item Advanced reporting
							li
								.item 24/7 telephone support
							li
								.item Audit log: Track what is shared
							li
								.item Content filter: Lock down sharing
							li
								.item CRM integration
							li
								.item Priority email support

				button.btn-warning.c-modal__bind(data-number="1") Get Contacted by Sales

		.b-our-prices__link Limited free plan for individuals also available