section.b-talk-to-us._c-anchor
	.container

		header.g-header
			h2 Talk to us
			hr
			p Give us your contact details and we’ll be in touch right away to talk about how to dramatically shorten support calls with CrankWheel

		form.b-talk-to-us__form
			input(type="text", placeholder="Enter your email address")
			button.btn-primary Get Contacted by Sales