section.b-talk-to-us_horiz
	.g-shadow

	.container

		header.g-header.item
			h2 Talk to us
			hr
			p Give us your contact details and we’ll be in touch right away to discuss how you will close more sales with CrankWheel

		form.b-talk-to-us_horiz__form.item
			.item
				input(type="text", placeholder="Enter your email address")
			.item
				button.btn-warning Get Contacted by Sales