section.b-testimonials.c-testimonials
	.container

		header.g-header
			h2 Testimonials
			hr
			p Here's what our clients say about us

		.b-testimonials__list-wrapper

			.b-testimonials__list.c-testimonials__swiper-container

				ul.e-list.c-testimonials__swiper-wrapper

					li.c-testimonials__swiper-slide
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.

					li.c-testimonials__swiper-slide
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.

					li.c-testimonials__swiper-slide
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.

		ul.b-testimonials__nav.c-testimonials__swiper-pagination

			li.active
				.e-photo
					.e-img
						img(src="media/img/content/users/1.jpg", alt="photo")

				.e-name Benny Andersso

			li
				.e-photo
					.e-img
						img(src="media/img/content/users/2.jpg", alt="photo")

				.e-name Rosa Taylor

			li
				.e-photo
					.e-img
						img(src="media/img/content/users/3.jpg", alt="photo")

				.e-name Rick White