.c-modal__bind(data-number="2")
.m-before-you-go.c-m-before-you-go(data-number="2")

	.m-before-you-go__overlay.c-modal__overlay.c-modal__close

	.m-before-you-go__box.c-modal__box
		.e-header
			h3 Just one thing before you go!
			p We get it, maybe you’re too busy or the time is not right for you to talk to our (very polite and friendly) sales people.

		.e-body
			h4 How about this instead?
			p Join our mailing list, where we post useful articles about improving sales. To thank you for signing up, we’ll send you our Communication Tool Checklist and Browser Compatibility Guide for free!

			.e-form
				.e-input
					input(type="text", placeholder="Enter your email address")
				button.btn-primary Sign Up to Download for Free
