.m-form.c-m-form(data-number="1")

	.m-form__overlay.c-modal__overlay.c-modal__close

	.m-form__box.c-modal__box
		input(type="text", placeholder="Enter your email address")
		button.btn-primary Get Contacted by Sales