.m-video.c-m-video(data-number="3")

	.m-video__overlay.c-modal__overlay.c-modal__close

	.m-video__box.c-modal__box
		iframe(
			id="player",
			src="https://www.youtube-nocookie.com/embed/h5ZQFE-9Vx8?&enablejsapi=1&rel=0",
			frameborder="0",
			allowfullscreen )
