<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include head-tags.html %}
    <!-- Meta information: title, description, opengraph, twittercard -->
    {% include redesign-meta.html %}
    {% include head-src.html %}

    <!-- Head assets: css, js, fonts -->
    {% include redesign-head.html %}
  </head>
  <body>
    <div class="{% if page.bgclass %}{{ page.bgclass }}{% else %}{{ 'default' }}{% endif %}">
      {% include redesign-header.html %}
      {{ content }}
    </div>
    {% include de-features.html %}
    {% include de-call-to-action.html %}
    {% include redesign-footer.html %}
  {% include body-tags.html %}
  </body>
</html>
